<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>MultiPing-Installer</string>
    <key>CFBundleIdentifier</key>
    <string>com.jamiemetzger.multiping.installer</string>
    <key>CFBundleName</key>
    <string>MultiPing Installer</string>
    <key>CFBundleDisplayName</key>
    <string>MultiPing Installer</string>
    <key>CFBundleVersion</key>
    <string>1.6</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <false/>
    <key>LSUIElement</key>
    <false/>
</dict>
</plist>
